.navBlackBackground {
    /* The image used */
    background-image: url("/assets/solidBlack.jpg");
  
    /* Center and scale the image nicely */
     background-position: center;
    // background-size: cover;
  }

  .dropdown:hover>.dropdown-menu {
    display: block;
   }