<!-- <video muted id="myVideo">
  <source src="../../assets/railBackground.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video> -->

<video
    style="background-color: rgb(0, 0, 0); position: absolute; width: 640px; height: 360px;"
    src="../../assets/railBackground.mp4"
    autoplay="true"
    muted="muted"></video>

<!-- <iframe src="../../assets/railBackground.mp4" allow="autoplay"></iframe> -->

<div class="content">
  <!-- <app-navbar></app-navbar> -->
  <div>
    Hello from home
  </div>
</div>